In [1]:
import pandas as pd
import numpy as np
from obspy.core.utcdatetime import UTCDateTime

# Got these catalogs from Ben's directory on chpc on 5/14/23

In [2]:
# Combine current arrival catalogs (2012-2021) from Ben
entire_3c_df = pd.read_csv("catalogs/currentEarthquakeArrivalInformation3C.csv")
entire_1c_df = pd.read_csv("catalogs/currentEarthquakeArrivalInformation1C.csv")
historical_3c_df = pd.read_csv("catalogs/historicalEarthquakeArrivalInformation3C.csv")
historical_1c_df = pd.read_csv("catalogs/historicalEarthquakeArrivalInformation1C.csv")
entire_catalog_df = pd.concat([entire_3c_df[entire_1c_df.columns], entire_1c_df,
                             historical_3c_df[historical_1c_df.columns], historical_1c_df], axis=0).sort_values("origin_time")

In [3]:
entire_catalog_df["utc"] = entire_catalog_df.apply(lambda x: UTCDateTime(x.origin_time), axis=1)
entire_catalog_df.head()

,evid,network,station,location,channelz,phase,arrival_id,arrival_time,pick_quality,first_motion,...,event_depth,origin_time,magnitude,magnitude_type,rflag,n_weighted_residuals,horizontal_error,azimuthal_gap,weighted_rms,utc
0,50000000,UU,LSUT,1,EHZ,P,NaN,3.471721e+08,1.0,-1,...,13.8,3.471721e+08,0.28,d,F,14.0,0.47,81.0,0.13,1981-01-01T04:40:50.760000Z
7,50000000,UU,PTU,1,EHZ,P,NaN,3.471721e+08,1.0,0,...,13.8,3.471721e+08,0.28,d,F,14.0,0.47,81.0,0.13,1981-01-01T04:40:50.760000Z
6,50000000,UU,RVUT,1,EHZ,P,NaN,3.471721e+08,1.0,-1,...,13.8,3.471721e+08,0.28,d,F,14.0,0.47,81.0,0.13,1981-01-01T04:40:50.760000Z
5,50000000,UU,LBUT,1,EHZ,P,NaN,3.471721e+08,1.0,0,...,13.8,3.471721e+08,0.28,d,F,14.0,0.47,81.0,0.13,1981-01-01T04:40:50.760000Z
1,50000000,UU,HDU,1,EHZ,P,NaN,3.471721e+08,1.0,1,...,13.8,3.471721e+08,0.28,d,F,14.0,0.47,81.0,0.13,1981-01-01T04:40:50.760000Z

In [4]:
keith_catalog = pd.read_csv("cat.yellow_long", sep="\s+")
keith_catalog.head()

,Date,Time,Lat,Lon,Dep,Mw,Ml,Mc,Mpref,N,Dmin,Gap,ehr,ehz,rms,evid
0,1972/11/08,09:54:28.71,44.5765,-110.6748,3.37,-9.99,-9.99,2.90,2.90,8,16.6,80,0.1,0.4,0.10,0
1,1973/01/04,01:33:08.05,44.8963,-110.7607,5.80,-9.99,-9.99,1.12,1.12,5,10.8,163,0.5,0.6,0.10,0
2,1973/01/06,13:33:06.03,44.8048,-110.4698,3.86,-9.99,-9.99,1.42,1.42,6,25.6,181,0.2,0.6,0.06,0
3,1973/01/07,02:10:33.13,44.5073,-111.1687,6.29,-9.99,-9.99,0.28,0.28,7,26.7,261,0.3,1.6,0.10,0
4,1973/01/07,06:55:54.10,44.7930,-111.5417,11.72,-9.99,-9.99,1.70,1.70,9,34.3,288,0.1,2.0,0.08,0

In [5]:
keith_catalog["utc"] = keith_catalog.apply(lambda x: UTCDateTime(f"{x.Date}T{x.Time}"), axis=1)
keith_catalog.head()

,Date,Time,Lat,Lon,Dep,Mw,Ml,Mc,Mpref,N,Dmin,Gap,ehr,ehz,rms,evid,utc
0,1972/11/08,09:54:28.71,44.5765,-110.6748,3.37,-9.99,-9.99,2.90,2.90,8,16.6,80,0.1,0.4,0.10,0,1972-11-08T09:54:28.710000Z
1,1973/01/04,01:33:08.05,44.8963,-110.7607,5.80,-9.99,-9.99,1.12,1.12,5,10.8,163,0.5,0.6,0.10,0,1973-01-04T01:33:08.050000Z
2,1973/01/06,13:33:06.03,44.8048,-110.4698,3.86,-9.99,-9.99,1.42,1.42,6,25.6,181,0.2,0.6,0.06,0,1973-01-06T13:33:06.030000Z
3,1973/01/07,02:10:33.13,44.5073,-111.1687,6.29,-9.99,-9.99,0.28,0.28,7,26.7,261,0.3,1.6,0.10,0,1973-01-07T02:10:33.130000Z
4,1973/01/07,06:55:54.10,44.7930,-111.5417,11.72,-9.99,-9.99,1.70,1.70,9,34.3,288,0.1,2.0,0.08,0,1973-01-07T06:55:54.100000Z

In [6]:
keith_catalog.describe()

,Lat,Lon,Dep,Mw,Ml,Mc,Mpref,N,Dmin,Gap,ehr,ehz,rms,evid
count,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,57098.000000,5.709800e+04
mean,44.649903,-110.848861,6.354764,-9.989740,-8.154308,0.811570,0.840859,11.145452,7.067535,135.766647,12.884122,3.707457,0.119214,1.908139e+07
std,0.157142,0.268512,3.492769,0.062021,4.225987,1.372336,1.373579,4.607416,5.189346,50.355350,94.173207,51.974505,0.058155,2.801469e+07
min,43.672200,-112.540000,-3.490000,-9.990000,-9.990000,-9.990000,-9.990000,4.000000,0.000000,34.000000,0.000000,0.200000,0.000000,0.000000e+00
25%,44.563200,-111.026500,3.590000,-9.990000,-9.990000,0.430000,0.460000,8.000000,4.000000,97.000000,0.800000,0.400000,0.080000,0.000000e+00
50%,44.719300,-110.933750,6.270000,-9.990000,-9.990000,0.870000,0.910000,10.000000,6.000000,128.000000,1.200000,0.600000,0.120000,0.000000e+00
75%,44.765300,-110.700800,8.500000,-9.990000,-9.990000,1.350000,1.400000,14.000000,9.000000,161.000000,2.400000,0.800000,0.150000,6.003543e+07
max,45.979700,-109.026800,44.100000,4.830000,4.460000,6.100000,6.100000,56.000000,140.800000,360.000000,999.900000,999.900000,2.100000,6.050413e+07

In [7]:
entire_catalog_df.describe()

,evid,arrival_id,arrival_time,pick_quality,first_motion,take_off_angle,source_receiver_distance,source_receiver_azimuth,travel_time_residual,receiver_lat,...,receiver_elev,event_lat,event_lon,event_depth,origin_time,magnitude,n_weighted_residuals,horizontal_error,azimuthal_gap,weighted_rms
count,1.288438e+06,5.059580e+05,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,...,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,1.288438e+06,782480.000000,782480.000000,782480.000000,782480.000000
mean,5.418100e+07,2.295655e+06,1.209839e+09,8.120026e-01,2.959242e-02,9.356166e+01,4.220726e+01,1.801521e+02,-2.982081e-02,4.195858e+01,...,2.212184e+03,4.197596e+01,-1.113590e+02,5.879426e+00,1.209839e+09,1.213882e+00,12.543036,0.961873,127.140851,0.160302
std,4.901056e+06,1.227367e+06,3.295196e+08,1.852535e-01,5.681537e-01,2.598143e+01,3.964246e+01,1.014028e+02,2.601317e-01,2.603545e+00,...,4.052971e+02,2.610486e+00,7.849480e-01,4.544629e+00,3.295196e+08,1.216738e+00,5.885120,1.296691,54.761466,0.080715
min,5.000000e+07,9.000000e+00,3.471721e+08,5.000000e-01,-1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.990000e+00,3.494250e+01,...,4.020000e+02,3.675033e+01,-1.142495e+02,-3.500000e+00,3.471721e+08,-9.990000e+00,5.000000,0.150000,30.000000,0.000000
25%,5.021542e+07,1.311580e+06,9.765162e+08,7.500000e-01,0.000000e+00,9.000000e+01,1.530000e+01,9.520000e+01,-1.300000e-01,3.947300e+01,...,1.951000e+03,3.944450e+01,-1.119257e+02,2.480000e+00,9.765162e+08,7.900000e-01,8.000000,0.470000,88.000000,0.110000
50%,5.038174e+07,2.469112e+06,1.240967e+09,7.500000e-01,0.000000e+00,9.400000e+01,2.790000e+01,1.830000e+02,-1.000000e-02,4.163850e+01,...,2.192000e+03,4.179867e+01,-1.111137e+02,5.980000e+00,1.240967e+09,1.300000e+00,11.000000,0.630000,114.000000,0.150000
75%,6.020819e+07,3.345048e+06,1.509552e+09,1.000000e+00,0.000000e+00,1.060000e+02,5.770000e+01,2.650000e+02,1.000000e-01,4.466867e+01,...,2.537000e+03,4.467700e+01,-1.108372e+02,8.850000e+00,1.509552e+09,1.730000e+00,15.000000,0.930000,152.000000,0.190000
max,6.052910e+07,4.206889e+06,1.672786e+09,1.000000e+00,1.000000e+00,1.790000e+02,8.096000e+02,3.600000e+02,3.116000e+01,4.826333e+01,...,3.251000e+03,4.516633e+01,-1.087548e+02,6.047000e+01,1.672786e+09,6.040000e+00,67.000000,19.910000,355.000000,0.740000

# Keith's catalog has 57K events but Ben's catalogs only contain 17K matching evids
# This is likely because events before Sept 30 2012 all have an evid of 0 in Keith's catalog

In [8]:
entire_catalog_df.evid.unique().shape

(117800,)

In [9]:
keith_catalog.shape

(57098, 17)

In [10]:
np.where(np.isin(entire_catalog_df.evid.unique(), keith_catalog.evid))[0].shape

(17047,)

In [11]:
entire_catalog_df[np.isin(entire_catalog_df.evid, keith_catalog.evid)].evid.unique().shape

(17047,)

In [13]:
np.array_equal(keith_catalog[keith_catalog.evid==0].index.to_numpy(), np.arange(0, 39003))

True

# Filter ben's catalog by location - there are 52185K events in the Yellowstone region

In [14]:
# Filter to just be in Yellowstone region, anything greater than 43/44 should be in Yellowstone
ys_df = entire_catalog_df[(entire_catalog_df["event_lat"] > 43.5) & (entire_catalog_df["event_lat"] < 46) &
                         (entire_catalog_df["event_lon"] > -112.6) & (entire_catalog_df["event_lon"] < -109)].sort_values("evid")

In [15]:
keith_catalog["utc"]

0        1972-11-08T09:54:28.710000Z
1        1973-01-04T01:33:08.050000Z
2        1973-01-06T13:33:06.030000Z
3        1973-01-07T02:10:33.130000Z
4        1973-01-07T06:55:54.100000Z
                    ...
57093    2022-06-29T22:22:02.130000Z
57094    2022-06-30T01:35:48.940000Z
57095    2022-06-30T12:08:45.180000Z
57096    2022-06-30T14:08:13.850000Z
57097    2022-06-30T23:17:31.520000Z
Name: utc, Length: 57098, dtype: object

In [16]:
ys_df.evid.unique().shape

(52185,)

# Filter both catalogs from 2002 to 2022 June 30

## 33594 events in Ben's catalog, 34285 in Keith's

In [17]:
# Reduce to Yellowstone events occuring from 2002 to 2022 June 30
start_time = UTCDateTime("2002-01-01")
end_time = UTCDateTime("2022-07-01")
ys_df_2002= ys_df[(ys_df["utc"] > start_time) & (ys_df["utc"] < end_time)].copy()
keith_df_2002= keith_catalog[(keith_catalog["utc"] > start_time) & (keith_catalog["utc"] < end_time)].copy()

In [18]:
print(ys_df_2002.utc.min(), ys_df_2002.utc.max())
print(ys_df_2002.evid.unique().shape)

2002-01-01T10:05:51.940000Z 2022-06-30T23:17:31.519998Z
(33594,)

In [19]:
print(keith_df_2002.utc.min(), keith_df_2002.utc.max())
print(keith_df_2002.evid.unique().shape)
print(keith_df_2002.shape)

2002-01-01T10:05:53.210000Z 2022-06-30T23:17:31.520000Z
(18096,)
(34285, 17)

In [25]:
keith_df_2002[keith_df_2002.evid == 0].shape

(16190, 17)

# Start at 10/1/2012

In [26]:
# Reduce to Yellowstone events occuring from 2002 to 2022 June 30
start_time = UTCDateTime("2012-10-01")
end_time = UTCDateTime("2022-07-01")
ys_df_2012= ys_df[(ys_df["utc"] > start_time) & (ys_df["utc"] < end_time)].copy()
keith_df_2012= keith_catalog[(keith_catalog["utc"] > start_time) & (keith_catalog["utc"] < end_time)].copy()

In [27]:
print(ys_df_2012.utc.min(), ys_df_2012.utc.max())
print(ys_df_2012.evid.unique().shape)

2012-10-01T10:05:36.099998Z 2022-06-30T23:17:31.519998Z
(17048,)

In [28]:
print(keith_df_2012.utc.min(), keith_df_2012.utc.max())
print(keith_df_2012.evid.unique().shape)
print(keith_df_2012.shape)

2012-10-01T10:05:36.100000Z 2022-06-30T23:17:31.520000Z
(18095,)
(18095, 17)

In [44]:
18095-17048

1047

In [46]:
distinct_evids = pd.concat([ys_df_2012.drop_duplicates('evid')['evid'], keith_df_2012.drop_duplicates('evid')['evid']]).drop_duplicates(keep=False)

In [47]:
keith_df_2012[keith_df_2012['evid'].isin(distinct_evids)]

,Date,Time,Lat,Lon,Dep,Mw,Ml,Mc,Mpref,N,Dmin,Gap,ehr,ehz,rms,evid,utc
39012,2012/10/05,14:42:39.66,44.8100,-111.2803,9.86,-9.99,-9.99,-0.14,-0.14,7,9.0,137,1.1,0.7,0.05,60000467,2012-10-05T14:42:39.660000Z
39019,2012/10/07,01:45:29.47,44.8335,-111.3453,8.54,-9.99,0.95,1.13,0.95,13,7.0,131,1.3,0.6,0.16,60000627,2012-10-07T01:45:29.470000Z
39020,2012/10/07,14:17:20.42,44.8348,-111.3402,9.11,-9.99,-9.99,0.58,0.58,10,7.0,174,1.3,0.9,0.19,60000642,2012-10-07T14:17:20.420000Z
39046,2012/10/15,03:19:52.08,44.3910,-111.0412,3.51,-9.99,2.62,2.75,2.62,9,41.0,112,1.8,0.8,0.03,60001457,2012-10-15T03:19:52.080000Z
39068,2012/10/15,04:17:24.14,44.3767,-111.0920,5.92,-9.99,-9.99,-9.99,-9.99,7,25.0,213,31.6,1.6,0.14,60000035,2012-10-15T04:17:24.140000Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56943,2022/05/30,20:08:08.68,44.7980,-111.3352,13.20,-9.99,1.10,1.10,1.10,17,12.0,169,0.9,0.8,0.16,60500102,2022-05-30T20:08:08.680000Z
56953,2022/06/03,03:57:46.26,44.7712,-111.2075,14.29,-9.99,-9.99,0.21,0.21,11,2.0,171,2.0,1.1,0.13,60500357,2022-06-03T03:57:46.260000Z
57012,2022/06/12,03:11:52.90,44.7122,-111.1798,7.17,-9.99,1.39,1.15,1.39,18,4.0,86,0.9,0.5,0.17,60501377,2022-06-12T03:11:52.900000Z
57027,2022/06/12,12:42:36.37,44.7560,-111.1945,11.73,-9.99,-9.99,0.36,0.36,12,1.0,149,1.4,0.7,0.19,60501457,2022-06-12T12:42:36.370000Z
57088,2022/06/28,05:00:57.60,44.7148,-111.1857,8.62,-9.99,0.88,0.96,0.88,17,4.0,86,1.2,0.7,0.17,60503677,2022-06-28T05:00:57.600000Z

In [49]:
ys_df_2012[ys_df_2012.evid.isin(distinct_evids)]

,evid,network,station,location,channelz,phase,arrival_id,arrival_time,pick_quality,first_motion,...,event_depth,origin_time,magnitude,magnitude_type,rflag,n_weighted_residuals,horizontal_error,azimuthal_gap,weighted_rms,utc
191,60000355,WY,YTP,01,HHZ,S,44924.0,1.354887e+09,0.75,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
107,60000355,WY,YLT,01,EHZ,P,44879.0,1.354887e+09,0.50,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
109,60000355,WY,YTP,01,EHZ,P,44919.0,1.354887e+09,0.50,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
108,60000355,WY,YLA,01,EHZ,P,44909.0,1.354887e+09,0.50,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
190,60000355,US,LKWY,01,BHZ,S,44899.0,1.354887e+09,0.75,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
186,60000355,WY,YML,01,EHZ,P,44889.0,1.354887e+09,0.50,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
188,60000355,WY,YUF,01,HHZ,P,44914.0,1.354887e+09,0.75,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
187,60000355,US,LKWY,01,BHZ,P,44894.0,1.354887e+09,0.75,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
110,60000355,WY,YPP,01,EHZ,P,44929.0,1.354887e+09,0.75,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
185,60000355,TA,H17A,01,BHZ,P,44884.0,1.354887e+09,0.75,0,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z
189,60000355,WY,YFT,01,HHZ,P,44904.0,1.354887e+09,1.00,-1,...,8.68,1.354887e+09,0.88,d,F,NaN,NaN,NaN,NaN,2012-12-07T13:32:03.040000Z

In [50]:
keith_df_2012[keith_df_2012['evid'] == 60000355]

Empty DataFrame
Columns: [Date, Time, Lat, Lon, Dep, Mw, Ml, Mc, Mpref, N, Dmin, Gap, ehr, ehz, rms, evid, utc]
Index: []

In [ ]:
keith_df_2012[keith_df]

# Save arrival catalogs

In [74]:
ys_df.to_csv("yellowstone_arrivals_all.csv", index=False)

In [78]:
ys_df_2002.to_csv("yellowstone_arrivals_2002_20220701.csv", index=False)